<h3>League Details</h3>
<hr />
  <p> League Name: <%= @league.name() %> </p>
  <h3> Teams:   </h3>
  <% for team in @league.teams() %>
    <ul>
      <li><%= team.name() %></li>
    </ul>
  <% end %>
<hr />

<!--
for game played
update P, W or L, GF, GA
if win = true, update points by 3

if points > team above, move team up table
-->

<h3>League Table:</h3>
<table class="table">
  <tr>
    <th>Team</th>
    <th>P</th>
    <th>W</th>
    <th>L</th>
    <th>GF</th>
    <th>GA</th>
    <th>Points</th>
  </tr>
  <td>
    <% for team in @league.teams() %>
    <%= team.name() %><br>
    <% end %>
  </td>
</table>

<ul>Key:
<li>P - Games Played</li>
<li>W - Games Won</li>
<li>L - Games Lost</li>
<li>GF - Goals For</li>
<li>GA - Goals Against</li>
<li>Points - Total Points</li>
</ul>
<hr />



<!-- Deletes league from list -->
<form action="/leagues/<%= @league.id %>/delete" method="POST">
  <input type="submit" value="Delete League">
</form>

<!-- Edits league -->
<form action="/leagues/<%= @league.id %>/edit" method="GET">
  <input type="submit" value="Edit League">
</form>
